.project-section {
    height: auto; 
    width: 100vw;
    font-family: "Inknut Antiqua", serif;
    margin-top: 8rem; 
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

h2 {
    text-align: center;
    margin: 1rem 0; 
}

.project-section-cards {
    width: 100%; 
    max-width: 1200px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}


@media (min-width: 390px) {
    .project-section{
        margin-top: 1rem;
    }

}

/* Computer view */

@media (min-width: 768px) {
    .project-section{
        margin-top: 4rem;   
    }

    .project-section-cards {
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
    }

}

