.form-text {
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    color: #fff;
}

input , textarea {
    width: 20rem;
    padding: .6rem;
    border: none;
    border-radius: 1rem;
    transition: .2s;
    background-color: #fff;
    color: black;
}

input:focus , textarea:focus {
    width: 20rem;
    padding: .7rem;
    border-radius: 1rem;

    outline: none;
    transition: .2s;
}


textarea {
    margin-bottom: .8rem;
    overflow-y: hidden;
}


.send-input{
    height: 2.5rem;
}

.send-input:hover {
    background-color: #E7DF0D;
    cursor: pointer;
    color: #fff;
    transition: .4s;
    transform: scale(1.05);
} 


@media (min-width: 768px) {
    .form-text {
        width: 70%;
    }
}